body {
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1 {
  font-family: Shrikhand, cursive;
  margin: 1rem auto 0.5rem;
}

.return-arrow {
  font-size: 1.3rem;
  position: absolute;
  top: 20px;
  left: 20px;
}

.location {
  margin: 0;
  padding: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  background-color: rgb(235, 235, 235);
  position: relative;
}
.location__icon {
  position: relative;
  right: 1rem;
}

.explore {
  width: 100vw;
  padding: 1.5rem 1rem 2.5rem;
  box-sizing: border-box;
  background-color: rgb(248, 248, 248);
  text-align: center;
}
.explore__title {
  font-weight: bold;
}
.explore__btn {
  border: none;
  border-radius: 4rem;
  color: white;
  box-shadow: 0 2px 8px rgb(180, 180, 180);
  padding: 0.8rem 1rem;
}
.explore__btn--primary-gradient {
  background: linear-gradient(175deg, #FF79DA, #9356DC);
}

.fonct-section {
  margin: 3rem 1.5rem;
}
.fonct-section h2 {
  margin-bottom: 1.5rem;
}

.fonct-step {
  background-color: rgb(248, 248, 248);
  border-radius: 1rem;
  margin-left: 0.7rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 8px lightgrey;
}
.fonct-step__num {
  background-color: #9356DC;
  color: white;
  font-size: 0.8rem;
  border-radius: 50%;
  padding: 0.3rem 0.5rem;
  position: absolute;
  left: -12px;
  top: 20px;
}
.fonct-step__txt {
  margin: auto;
}

.rest-section {
  padding: 3rem 1.5rem;
  background-color: rgb(248, 248, 248);
}
.rest-section h2 {
  margin-bottom: 1.5rem;
}

.rest-card {
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px rgb(180, 180, 180);
  overflow: hidden;
}
.rest-card__img {
  height: 170px;
  position: relative;
  overflow: hidden;
}
.rest-card__img img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.rest-card__img span {
  background-color: #99E2D0;
  color: #278870;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.3rem 0.4rem;
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 10px;
}
.rest-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.rest-card__bottom h3 {
  margin: 0 0 0.2rem;
}
.rest-card__bottom span {
  margin: 0;
}
.rest-card__heart {
  font-size: 1.5rem;
}

.rest-main {
  background-color: rgb(248, 248, 248);
}

.menu {
  padding: 2rem 1.5rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  position: relative;
  bottom: 2rem;
  background-color: inherit;
}
.menu__img {
  height: 200px;
  position: relative;
  overflow: hidden;
}
.menu__img img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__title h2 {
  font-family: Shrikhand, cursive;
  font-weight: normal;
}
.menu__title i {
  font-size: 1.5rem;
}

.menu-part {
  width: 100%;
  margin: 2rem 0;
}
.menu-part__title {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1.5rem;
}
.menu-part__title::after {
  content: "";
  border-top: 3px solid #99E2D0;
  width: 3rem;
  position: absolute;
}
.menu-part__title h3 {
  margin-bottom: 0.3rem;
}
.menu-part__item {
  background-color: white;
  height: 3.2rem;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menu-part__item div {
  max-width: 85%;
}
.menu-part__item p:nth-child(1) {
  font-weight: bold;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-part__item p:nth-child(2) {
  font-size: 0.9rem;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-part__item span {
  font-weight: bold;
  align-self: flex-end;
  margin-right: 1rem;
}

.order-btn {
  border: none;
  border-radius: 4rem;
  color: white;
  box-shadow: 0 2px 8px rgb(180, 180, 180);
  padding: 0.8rem 3 rem;
  display: block;
  margin: auto;
}
.order-btn--primary-gradient {
  background: linear-gradient(175deg, #FF79DA, #9356DC);
}

footer {
  background-color: rgb(50, 50, 50);
  color: white;
}

.footer-layout {
  padding: 1.5rem 1.5rem;
}
.footer-layout p {
  font-family: Shrikhand, cursive;
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 1rem;
}

.nav__link {
  margin: 0.5rem 0;
}
.nav__icon {
  margin-right: 1rem;
}
.nav a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=styles.css.map */