body {
  font-family: Roboto, sans-serif;
  position: relative;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

img {
  width: 200px;
  margin: 1.5rem auto 1rem;
}

.return-arrow {
  font-size: 1.3rem;
  position: absolute;
  top: 30px;
  left: 20px;
}

footer {
  background-color: rgb(50, 50, 50);
  color: white;
}

.footer-layout {
  padding: 1.5rem 1.5rem;
}
.footer-layout p {
  font-family: Shrikhand, cursive;
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 1rem;
}

.nav__link {
  margin: 0.5rem 0;
}
.nav__icon {
  margin-right: 1rem;
}
.nav a:hover {
  text-decoration: underline;
}

.explore__btn {
  border: none;
  border-radius: 4rem;
  color: white;
  -webkit-box-shadow: 0 2px 8px lightgrey;
          box-shadow: 0 2px 8px lightgrey;
  padding: 0.8rem 1rem;
}
.explore__btn--primary-gradient {
  background: linear-gradient(175deg, #FF79DA, #9356DC);
}
.explore__btn:hover {
  background: linear-gradient(175deg, #ff93e1, #a16be0);
  -webkit-box-shadow: 0 2px 8px rgb(180, 180, 180);
          box-shadow: 0 2px 8px rgb(180, 180, 180);
}

.order-btn {
  border: none;
  border-radius: 4rem;
  color: white;
  -webkit-box-shadow: 0 2px 8px lightgrey;
          box-shadow: 0 2px 8px lightgrey;
  padding: 0.8rem 3rem;
  display: block;
  margin: auto;
}
.order-btn--primary-gradient {
  background: linear-gradient(175deg, #FF79DA, #9356DC);
}
.order-btn:hover {
  background: linear-gradient(175deg, #ff93e1, #a16be0);
  -webkit-box-shadow: 0 2px 8px rgb(180, 180, 180);
          box-shadow: 0 2px 8px rgb(180, 180, 180);
}

@-webkit-keyframes slide-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.menu-item:nth-of-type(2) {
  -webkit-animation: 1.2s ease-in-out 0.4s both slide-in;
          animation: 1.2s ease-in-out 0.4s both slide-in;
}

.menu-item:nth-of-type(3) {
  -webkit-animation: 1.2s ease-in-out 0.6s both slide-in;
          animation: 1.2s ease-in-out 0.6s both slide-in;
}

.menu-item:nth-of-type(4) {
  -webkit-animation: 1.2s ease-in-out 0.8s both slide-in;
          animation: 1.2s ease-in-out 0.8s both slide-in;
}

.menu-item:nth-of-type(5) {
  -webkit-animation: 1.2s ease-in-out 1s both slide-in;
          animation: 1.2s ease-in-out 1s both slide-in;
}

.loading-spinner {
  height: 100vh;
  width: 100vw;
  background-color: rgb(248, 248, 248);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: 3s ease forwards hide-animation;
          animation: 3s ease forwards hide-animation;
}

.loading-spinner__ball {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: 1.25s ease-in-out both 2 circle;
          animation: 1.25s ease-in-out both 2 circle;
}
.loading-spinner__ball--primary {
  background-color: #9356DC;
}
.loading-spinner__ball--secondary {
  background-color: #FF79DA;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.loading-spinner__ball--tertiary {
  background-color: #99E2D0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes hide-animation {
  0%, 99% {
    opacity: 1;
    z-index: 1000;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes hide-animation {
  0%, 99% {
    opacity: 1;
    z-index: 1000;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0deg) translate(-100px);
            transform: rotate(0deg) translate(-100px);
  }
  80%, 100% {
    -webkit-transform: rotate(360deg) translate(-100px);
            transform: rotate(360deg) translate(-100px);
  }
}
@keyframes circle {
  0% {
    -webkit-transform: rotate(0deg) translate(-100px);
            transform: rotate(0deg) translate(-100px);
  }
  80%, 100% {
    -webkit-transform: rotate(360deg) translate(-100px);
            transform: rotate(360deg) translate(-100px);
  }
}
.location {
  margin: 0;
  padding: 1rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(235, 235, 235);
  position: relative;
}
.location__icon {
  position: relative;
  right: 1rem;
}

.explore {
  width: 100vw;
  padding: 1.5rem 1rem 2.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgb(248, 248, 248);
  text-align: center;
}
.explore__title {
  font-weight: bold;
}

.fonct-section {
  margin: 3rem 1.5rem;
}
.fonct-section h2 {
  margin-bottom: 1.5rem;
}

.fonct-step {
  background-color: rgb(248, 248, 248);
  border-radius: 1rem;
  margin-left: 0.7rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 2px 8px lightgrey;
          box-shadow: 0 2px 8px lightgrey;
}
.fonct-step__num {
  background-color: #9356DC;
  color: white;
  font-size: 0.8rem;
  border-radius: 50%;
  padding: 0.3rem 0.5rem;
  position: absolute;
  left: -12px;
  top: 20px;
}
.fonct-step__txt {
  margin: auto;
}
.fonct-step:hover {
  background-color: #f4eefc;
}
.fonct-step:hover .fonct-step__icon {
  color: #9356DC;
}

.rest-section {
  padding: 3rem 1.5rem;
  background-color: rgb(248, 248, 248);
}
.rest-section h2 {
  margin-bottom: 1.5rem;
}

.rest-card {
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 2px 8px rgb(180, 180, 180);
          box-shadow: 0 2px 8px rgb(180, 180, 180);
  overflow: hidden;
}
.rest-card:hover {
  -webkit-box-shadow: 0 4px 16px rgb(150, 150, 150);
          box-shadow: 0 4px 16px rgb(150, 150, 150);
}
.rest-card__img {
  height: 170px;
  position: relative;
  overflow: hidden;
}
.rest-card__img img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.rest-card__img span {
  background-color: #99E2D0;
  color: #278870;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.3rem 0.4rem;
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 10px;
}
.rest-card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}
.rest-card__bottom h3 {
  margin: 0 0 0.2rem;
}
.rest-card__bottom span {
  margin: 0;
}
.rest-card__heart-section {
  position: relative;
}
.rest-card__heart-section:hover .rest-card__inner-heart {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s cubic-bezier(0, 3, 1, 0.76);
  transition: all 0.5s cubic-bezier(0, 3, 1, 0.76);
}
.rest-card__outer-heart {
  font-size: 1.5rem;
}
.rest-card__inner-heart {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  position: absolute;
  font-size: 1.5rem;
  right: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0s;
  transition: all 0s;
}

.rest-main {
  background-color: rgb(248, 248, 248);
}

.menu {
  padding: 2rem 1.5rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  position: relative;
  bottom: 2rem;
  background-color: inherit;
}
.menu__img {
  height: 200px;
  position: relative;
  overflow: hidden;
}
.menu__img img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__title h1 {
  font-family: Shrikhand, cursive;
  font-weight: normal;
}
.menu__title i {
  font-size: 1.5rem;
}
.menu__heart-section {
  position: relative;
}
.menu__heart-section:hover .menu__inner-heart {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s cubic-bezier(0, 3, 1, 0.76);
  transition: all 0.5s cubic-bezier(0, 3, 1, 0.76);
}
.menu__outer-heart {
  font-size: 1.5rem;
}
.menu__inner-heart {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  position: absolute;
  font-size: 1.5rem;
  right: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0s;
  transition: all 0s;
}

.menu-part {
  width: 100%;
  margin: 2rem 0;
}
.menu-part__title {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1.5rem;
}
.menu-part__title::after {
  content: "";
  border-top: 3px solid #99E2D0;
  width: 3rem;
  position: absolute;
}
.menu-part__title h2 {
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 0.3rem;
}

.menu-item {
  background-color: white;
  height: 3.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 2px 8px lightgrey;
          box-shadow: 0 2px 8px lightgrey;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu-item__txt {
  padding: 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-item__txt h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-item__txt p {
  font-size: 0.9rem;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-item__price {
  font-weight: bold;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 1rem 0.5rem auto;
}
.menu-item__checked {
  background-color: #99E2D0;
  width: 2rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: -4rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-item .fa-check {
  background-color: white;
  color: #99E2D0;
  padding: 4px;
  border-radius: 50%;
  -webkit-transform: translateX(4rem) rotate(-720deg);
          transform: translateX(4rem) rotate(-720deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menu-item:hover .menu-item__checked {
  margin-right: 0;
}
.menu-item:hover .fa-check {
  -webkit-transform: translateX(0) rotate(0deg);
          transform: translateX(0) rotate(0deg);
}
.menu-item:hover .menu-item__price {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}/*# sourceMappingURL=styles.css.map */