@import "./utils/variables";
@import "./utils/mixin";

@import "./layouts/header";
@import "./layouts/footer";

@import "./components/buttons";


body {
    font-family: $primary-font, sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

// ********** INDEX **********

.location {
    margin: 0;
    padding: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: rgb(235, 235, 235);
    position: relative;

    &__icon {
        position: relative;
        right: 1rem;
    }
}

.explore {
    width: 100vw;
    padding: 1.5rem 1rem 2.5rem;
    box-sizing: border-box;
    background-color: rgb(248, 248, 248);
    text-align: center;

    &__title {
        font-weight: bold;
    }
}


.fonct-section {
    margin: 3rem 1.5rem;

    h2 {
        margin-bottom: 1.5rem;
    }
}

.fonct-step {
    background-color: rgb(248, 248, 248);
    border-radius: 1rem;
    margin-left: 0.7rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: $box-shadow-light;

    &__num {
        @include fonct-num-step;
    }

    &__txt {
        margin: auto;
    }

    &:hover {
        background-color: lighten($primary-color, 36%);
    }

    &:hover .fonct-step__icon {
        color: $primary-color;
    }
}



.rest-section {
    padding: 3rem 1.5rem;
    background-color: rgb(248, 248, 248);

    h2 {
        margin-bottom: 1.5rem;
    }
}

.rest-card {
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: $box-shadow-dark;
    overflow: hidden;

    &:hover {
        box-shadow: $box-shadow-darker;
    }

    &__img {
        height: 170px;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        span {
            background-color: $tertiary-color;
            color: darken($tertiary-color, 40%);
            font-size: 0.7rem;
            font-weight: bold;
            padding: 0.3rem 0.4rem;
            position: absolute;
            z-index: 2;
            right: 10px;
            top: 10px;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        h3 {
            margin: 0 0 0.2rem;
        }

        span {
            margin: 0;
        }


    }

    &__heart-section {
        position: relative;
    }

    &__outer-heart {
        font-size: 1.5rem;

        &:hover+.rest-card__inner-heart {
            transform: scale(1);
            transition: all 0.5s cubic-bezier(0, 3, 1, .76);
        }
    }

    &__inner-heart {
        background: $heart-gradient;
        background-clip: text;
        color: transparent;
        position: absolute;
        font-size: 1.5rem;
        right: 0;
        transform: scale(0);
        transition: all 0s;
    }

}

// ********** RESTAURANTS **********

.rest-main {
    background-color: rgb(248, 248, 248);
}

.menu {
    padding: 2rem 1.5rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    position: relative;
    bottom: 2rem;
    background-color: inherit;


    &__img {
        height: 200px;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-family: Shrikhand, cursive;
            font-weight: normal;
        }

        i {
            font-size: 1.5rem;
        }
    }

    &__heart-section {
        position: relative;
    }

    &__outer-heart {
        font-size: 1.5rem;

        &:hover+.menu__inner-heart {
            transform: scale(1);
            transition: all 0.5s cubic-bezier(0, 3, 1, .76);
        }
    }

    &__inner-heart {
        background: $heart-gradient;
        background-clip: text;
        color: transparent;
        position: absolute;
        font-size: 1.5rem;
        right: 0;
        transform: scale(0);
        transition: all 0s;
    }

}

.menu-part {
    width: 100%;
    margin: 2rem 0;

    &__title {
        text-transform: uppercase;
        position: relative;
        margin-bottom: 1.5rem;

        &::after {
            content: '';
            border-top: 3px solid $tertiary-color;
            width: 3rem;
            position: absolute;
        }

        h2 {
            font-size: 1.3rem;
            font-weight: normal;
            margin-bottom: 0.3rem;
        }
    }
}

.menu-item {
    background-color: white;
    height: 3.2rem;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: $box-shadow-light;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    &__txt {
        padding: 0.5rem;
        flex: 1;
        @include text-overflow;

        p:nth-child(1) {
            font-weight: bold;
            margin: 0;
            @include text-overflow;
        }

        p:nth-child(2) {
            font-size: 0.9rem;
            margin: 0;
            @include text-overflow;
        }
    }

    &__price {
        font-weight: bold;
        align-self: flex-end;
        margin: 0 1rem .5rem auto;
    }

    &__checked {
        background-color: $tertiary-color;
        width: 2rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -4rem;
        transition: all 0.3s ease-in-out;
    }

    .fa-check {
        background-color: white;
        color: $tertiary-color;
        padding: 4px;
        border-radius: 50%;
        transform: translateX(4rem) rotate(-720deg);
        transition: all 0.5s ease-in-out;
    }

    &:hover .menu-item__checked {
        margin-right: 0;
    }

    &:hover .fa-check {
        transform: translateX(0) rotate(0deg);
    }

    &:hover .menu-item__price {
        transform: translateX(0);
    }

}