.rest-main {
    background-color: $background-lightgrey;

    @include tablette {
        @include flex-centered;
    }

    @include desktop-menu-layout {
        min-height: 90vh;
        background-color: $background-lightgrey-transparent;
    }
}

.rest-img {
    height: 200px;
    position: relative;
    overflow: hidden;

    @include desktop {
        height: 500px;
    }

    @include desktop-menu-layout {
        width: 100vw;
        min-height: 90vh;
        position: absolute;
        z-index: -1;
    }

    img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include desktop-menu-layout {
            width: 140%;
        }
    }
}

.menu {
    padding: 2rem 1.5rem;
    box-sizing: border-box;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    position: relative;
    bottom: 2rem;
    background-color: inherit;

    @include tablette {
        width: 75%;
        bottom: 0;
    }

    @include desktop-menu-layout {
        width: 95%;
        max-width: $breakpoint-maxWidth;
        border-radius: 2rem;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-family: $titles-font, cursive;
            font-weight: normal;
        }

        i {
            font-size: 1.5rem;
        }
    }

    &__heart-section {
        position: relative;

        &:hover .menu__inner-heart {
            transform: scale(1);
            transition: all 0.5s cubic-bezier(0, 3, 1, .76);
        }
    }

    &__outer-heart {
        font-size: 1.5rem;
    }

    &__inner-heart {
        background: $heart-gradient;
        background-clip: text;
        color: transparent;
        position: absolute;
        font-size: 1.5rem;
        right: 0;
        transform: scale(0);
        transition: all 0s;
    }

    &__layout {
        box-sizing: border-box;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        @include desktop-menu-layout {
            flex-flow: row nowrap;
        }
    }
}

.menu-part {
    width: 100%;
    box-sizing: border-box;
    margin: 2rem 0;

    @include tablette {
        width: 100%;
        background-color: rgb(255, 255, 255, 0.7);
        padding: 2rem;
        border-radius: 2rem;
    }

    @include desktop-menu-layout {
        width: 31%;
    }

    &__title {
        text-transform: uppercase;
        position: relative;
        margin-bottom: 1.5rem;

        &::after {
            content: '';
            border-top: 3px solid $tertiary-color;
            width: 3rem;
            position: absolute;
        }

        h2 {
            font-size: 1.3rem;
            font-weight: normal;
            margin-bottom: 0.3rem;
        }
    }
}

.menu-item {
    background-color: white;
    height: 3.2rem;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: $box-shadow-light;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    &__txt {
        padding: 0.5rem;
        flex: 1;
        @include text-overflow;

        h3 {
            font-size: 1rem;
            font-weight: bold;
            margin: 0;
            @include text-overflow;
        }

        p {
            font-size: 0.9rem;
            margin: 0;
            @include text-overflow;
        }
    }

    &__price {
        font-weight: bold;
        align-self: flex-end;
        margin: 0 1rem .5rem auto;
    }

    &__checked {
        background-color: $tertiary-color;
        width: 2rem;
        padding: 1rem;
        margin-right: -4rem;
        transition: all 0.3s ease-in-out;
        @include flex-centered;
    }

    .fa-check {
        background-color: white;
        color: $tertiary-color;
        padding: 4px;
        border-radius: 50%;
        transform: translateX(4rem) rotate(-720deg);
        transition: all 0.5s ease-in-out;
    }

    &:hover .menu-item__checked {
        margin-right: 0;
    }

    &:hover .fa-check {
        transform: translateX(0) rotate(0deg);
    }

    &:hover .menu-item__price {
        transform: translateX(0);
    }
}