$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-desktop-menu-layout: 1300px;
$breakpoint-maxWidth: 1500px;

@mixin tablette {
    @media screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin desktop-menu-layout {
    @media screen and (min-width: $breakpoint-desktop-menu-layout) {
        @content;
    }
}

@mixin maxWidth {
    @media screen and (min-width: $breakpoint-maxWidth) {
        @content;
    }
}