$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$background-lightgrey: rgb(248, 248, 248);
$background-lightgrey-transparent: rgb(248, 248, 248, 0.2);
$background-grey: rgb(235, 235, 235);

$heart-gradient: linear-gradient($primary-color, $secondary-color);

$titles-font: Shrikhand;

$box-shadow-light: (
    0 2px 8px lightgrey
);
$box-shadow-dark: (
    0 4px 8px rgb(170, 170, 170)
);
$box-shadow-darker: (
    0 4px 16px rgb(150, 150, 150)
);